* {
    color: black;
}

/* Main content. */

body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.content {
    /* border: solid 1px black; */
    width: 40%;
    min-height: 100vh;
}

/* Entries. */
.new-entry {
    margin: 2%;
    border: solid 1px black;
    padding: 20px;
}
.date-id {
    display: inline-block;
    background-color: black;
    color: white;
    padding: 1px;
}
.content-entry {
    /* markdown */
}

/* Avatar and description. */
.avatar {
    width: 15%;
    /* border: solid 1px black; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 5%;
    align-items:start;
}

.avatar-image {
    align-items: center;
    width: 100px;
}

.avatar-image > img {
    width: 100px;
}

.avatar-description {
    /* align-items: start; */
}


/* Links. */

.links {
    width: 10%;
    border: solid 1px black;
    padding: 5px;
}