/* General variables. */

/* Colors taken from this page as a reference.  
https://www.color-hex.com/color-palette/1052202 */
:root {
    --dark01: #363333;
    --dark02: #292e37;
    --dark03: #232730;
    --light01: #ece7e0;
    --light02: #bdbbb6;
}

/* ... */

/* General styles. */
body {
    background-color: var(--dark01);
    color: var(--light01);
}

